.errorWindow {
    padding: 0px 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(238,232,170);
    background-image: url("/src/assets/background/overlapping-circles.svg");
    background-repeat: repeat;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    //background-position: 10vw 0px; //background-position: center center; for 1024px
}
.errorWindow-back {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: linear-gradient(90deg, #000000 46%, #2c2b2bdb 79%);
  opacity: 0.55;
  position: absolute;
}

.errorWindow-h2 {
  font-size: 20vw;
  z-index: 3;
}

.errorWindow-p {
  font-size: 3vw;
  z-index: 3;
  margin: 20px 0px;
}

.errorWindow-p2 {
  font-size: 26px;
  z-index: 3;
  text-align: center;
}
.errorWindow-button {
  z-index: 3;
  vertical-align: middle;
  text-align: center;
  margin-top: 20px;
  padding: 10px 0px;
  background-color: black;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition: all 0.25s ease;
  cursor: pointer;
}

.errorWindow-button:hover {
  color: gray;
}

@media screen and (max-width: 600px) {
  .errorWindow-h2 {
    font-size: 27vw;
  }

  .errorWindow-p {
    font-size: 6vw;
  }

  .errorWindow-p2 {
    font-size: 4vw;
    z-index: 3;
  }
}
