.catalog-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.catalog-section-wrapper {
  margin: 0px auto;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  display: flex;
}
.filter-brands {
  height: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.catalog-section-filter {
  margin-right: 40px;
  width: 250px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter-price {
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(191, 188, 188, 0.729);
}

.filter-title {
  font-size: 20px;
  font-weight: bold;
}

.filter-price-button,
.reset-filter-price-button {
  padding: 0.5rem 1rem;
  font-size: 14px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 25px;
  background-color: white;
  width: 150px;
  cursor: pointer;
}

.filter-price-button:hover,
.reset-filter-price-button:hover {
  color: rgba(0, 0, 0, 0.575);
  border: 1px solid rgba(0, 0, 0, 0.575);
}

.filter-price-inputs {
  display: flex;
  justify-content: space-between;
  width: 170px;
  input {
    width: 80px;
  }
}
.filter-price-title {
  font-size: 14px;
  color: black;
}

.filter-price-min,
.filter-price-max {
  font-size: 16px;
}
.filter-brands {
  padding-bottom: 20px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(191, 188, 188, 0.729);
  height: 200px;
}

.filter-brands-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.filter-list-wripper {
  overflow-y: scroll;
  height: 200px;
}

.filter-list-wripper::-webkit-scrollbar-thumb {
  background-color: #b2b7b1;
  border-radius: 25px;
}
.filter-list-wripper::-webkit-scrollbar {
  width: 7px;
  background-color: #dadadc;
  border-radius: 25px;
}

.filter-catalog-links {
  padding-bottom: 20px;
  padding-top: 10px;
}

.filter-catalog-links {
  height: 170px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.catalog-links-list {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100px;
  list-style-type: none;
  a {
    position: relative;
    width: 100%;
    color: black;
    font-size: 16px;
  }
  //css mod for a
  .activeCategoryLink {
    &::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 5px;
      bottom: -0.4rem;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: black;
    }
  }
  li {
    width: 100%;
    cursor: pointer;
  }
  li:hover a {
    color: rgb(169, 167, 167);
  }
}

.catalog-section-products {
  display: flex;
  flex-direction: column;

  .catalog-products-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .catalog-pagination {
    margin-top: 1.5rem;
    font-size: 24px;
    .pagination-page {
      font-size: 24px;
    }
  }
}

.filter-brands-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  img {
    width: 90px;
    height: 50px;
  }
}

.catalog-section-header {
  margin: 0px auto;
  max-width: 1200px;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.catalog-section-header-burger {
  display: flex;
  width: 25px;
  height: 15px;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.25s ease;
}
.catalog-header-wripper:hover .catalog-section-header-burger {
  transform: rotate(90deg);
}
.catalog-burger-line {
  background-color: #000000;
  height: 2px;
  width: 100%;
}

.catalog-header-wripper {
  display: none;
  width: 70px;
  justify-content: space-between;
  cursor: pointer;
  p {
    font-size: 16px;
  }
}

.orderBy {
  width: 150px;
}

.catalog-burger-close-button {
  display: none;
}

.searchingBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.searchForm {
  width: 70%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.searchingBlock input,
.searchingBlock button {
  border: none;
  outline: none;
  background: transparent;
}
.searchingBlock input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
}
.searchingBlock button {
  height: 42px;
  width: 42px;
  cursor: pointer;
}

.searchingBlock button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #000000dc;
}

@media screen and (max-width: 1050px) {
  .catalog-section-header {
    justify-content: space-between;
  }
  .catalog-section-filter {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    z-index: 11;
    height: 100vh;
    width: 280px;
    position: fixed;
    top: 0px;
    left: -300px;
    transition: all 0.25s ease;
  }

  .catalog-section-products {
    width: 100%;
  }
  .catalog-header-wripper {
    display: flex;
  }

  .catalog-section-filter-opened {
    left: 0px;
  }

  .catalog-burger-close-button {
    cursor: pointer;
    margin-right: 10px;
    display: block;
    z-index: 12;
    width: 40px;
    height: 40px;
    position: relative;
  }
  .catalog-burger-close-line {
    height: 100%;
    width: 2px;
    background-color: black;
    position: absolute;
  }
  .catalog-burger-close-button:hover .catalog-burger-close-line {
    color: gray;
  }

  .catalog-burger-close-line:first-child {
    transform: rotate(45deg);
  }
  .catalog-burger-close-line:last-child {
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 700px) {
  .catalog-section-products {
    grid-template-columns: repeat(2, 1fr);
  }
}
