// common styles
@font-face {
  font-family: "LatoRegular";
  src: url("/src/assets/fonts/Lato-Regular.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "LatoRegular", Arial, Helvetica, sans-serif;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: normal;
}
//

// common classes
.hideElement {
  opacity: 0 !important;
  pointer-events: none !important;
}

.none {
  display: none !important;
}
