@import "./normalize.scss";
@import "./common.scss";
@import "./authorizationForms.scss";
@import "./headerFooter.scss";
@import "./main.scss";
@import "./404.scss";
@import "./popupNotification.scss";
@import "./catalog.scss";
@import "./test.scss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "./product.scss";
@import "./productBlock.scss";
@import "./profilePage.scss";
@import "./editModeWindow.scss";
@import "./aboutUs.scss";
@import "./basketPage.scss";
