$textColor: #f5f5f5;
$successBgColor: #169316;
$errorBgColor: rgb(189, 9, 9);

.popup-notification {
  position: fixed;
  z-index: 100;
  bottom: 2rem;
  right: 2rem;
  width: 100%;
  text-align: center;
  max-width: 28rem;
  padding: 1.5rem;
  border-radius: 1rem;
  color: $textColor;
  font-size: 1.7rem;
  transition: 0.5s;
}

.notification-offset {
  right: -30rem;
}

.notification-success {
  background-color: $successBgColor;
}

.notification-error {
  background-color: $errorBgColor;
}
