.product-page-container {
  padding-bottom: 205px;
  background: url("../images/registration_bg2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.product-container-back {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: linear-gradient(90deg, #4f4e4e77 46%, #7372728d 79%);
  opacity: 0.55;
  position: absolute;
}

.product-info-container {
  z-index: 3;
  width: 55%;
  margin: 120px auto 0 auto;
  padding: 40px 0px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(70, 71, 71, 0.4);
  border-radius: 5px;
  transition: all 0.9s ease;
}

.product-info-main {
  display: flex;
  flex-direction: row;
}

.swiper-block {
  width: 50%;
}

.info-block {
  width: 50%;
  padding: 15px 30px 15px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  gap: 8px;
}

.product-name {
  font-size: 2.6rem;
}

.product-short-descr {
  font-size: 1.8rem;
  margin-top: 10px;
  color: #777;
}

.product-ml {
  font-size: 1.8rem;
  font-weight: 700;
}

.product-instock {
  font-size: 1.8rem;
  color: rgba(5, 135, 18, 0.9);
}

.product-price {
  font-size: 2.4rem;
  font-weight: 700;
  color: black;
}

.inactive-price {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}

.sale-price {
  color: rgba(191, 11, 14, 0.8);
}

.sale-img {
  background-image: url("../images/20-off.png");
  width: 100px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.product-price-line {
  border: 1px solid rgba(0, 0, 0, 0.105);
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.text-block,
.cart-button-block,
.availability-price-block {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-button {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0;
  background-color: rgba(5, 135, 18, 0.5);
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.25s ease;
  text-transform: uppercase;
  padding: 10px;
  width: 250px;
  margin: 0 auto;
}

.cart-button:hover {
  letter-spacing: 2px;
  background-color: rgba(5, 135, 18, 0.7);
}

.cart-button:active {
  transform: scale(0.97);
}

.product-shipment {
  font-size: 1.8rem;
  color: rgba(5, 135, 18, 0.7);
}

.swiper {
  display: flex;
  max-width: 705px;
  width: 100%;
  height: auto;
  margin: 0px auto 0 40px;
}

.swiper-wrapper {
  box-sizing: content-box;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 230, 199);
  font-size: 60px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
  transition: all 0.9s ease;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: rgba(5, 135, 18, 0.6);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.15);
}

.swiper-pagination-bullet {
  background-color: transparent;
  width: 15px;
  height: 15px;
  opacity: 1;
  border: 1px solid rgba(5, 135, 18, 0.6);
  cursor: pointer;
}

.swiper-pagination-bullet:hover {
  background-color: rgba(158, 199, 157, 0.105);
}

.swiper-pagination-bullet-active {
  background-color: rgba(5, 135, 18, 0.6);
}

.swiper-img1,
.swiper-img2,
.swiper-img3,
.product-info-main,
.swiper-block,
.swiper {
  border-radius: 5px;
}

.separation {
  display: block;
  width: 100%;
  margin-top: 35px;
  padding-top: 25px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.105);
  text-align: center;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: all 0.9s ease;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.separation-sign {
  transition: all 0.9s ease;
}

.separation-sign:hover {
  color: rgba(5, 135, 18, 0.8);
}

.product-detailed-info {
  padding: 30px 70px 70px 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  margin: 0 auto;
}

.about-product-heading,
.beauty-tips-heading {
  font-size: 2.2rem;
  color: rgba(5, 135, 18, 0.9);
  margin-bottom: 15px;
  text-transform: uppercase;
}

.about-product-text,
.beauty-tips-text {
  font-size: 1.6rem;
  line-height: 130%;
  display: inline-block;
  padding-left: 40px;
  color: #777;
}

.product-detailed-line {
  border: 1px solid rgba(0, 0, 0, 0.105);
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.brand-img {
  width: 35%;
}

@media screen and (max-width: 1980px) {
  .product-info-container {
    width: 70%;
  }
}

@media screen and (max-width: 1670px) {
  .product-info-container {
    width: 75%;
  }
}

@media screen and (max-width: 1350px) {
  .product-info-container {
    width: 87%;
  }
  .info-block {
    padding: 15px 10px 15px 5px;
  }
}

@media screen and (max-width: 1160px) {
  .product-info-container {
    width: 93%;
  }
}

@media screen and (max-width: 1024px) {
  .product-info-container {
    width: 95%;
    padding: 20px;
  }

  .swiper {
    margin: 0px auto 0 0px;
  }

  .info-block {
    padding: 15px 3px 15px 3px;
    gap: 5px;
  }

  .product-name {
    font-size: 2rem;
  }

  .product-short-descr {
    font-size: 1.5rem;
  }

  .product-instock {
    font-size: 1.5rem;
  }

  .product-price {
    font-size: 2rem;
  }

  .product-price-line {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .product-shipment {
    font-size: 1.5rem;
  }

  .product-detailed-info {
    width: 95%;
  }
}

@media screen and (max-width: 850px) {
  .product-info-container {
    width: 97%;
  }
}

@media screen and (max-width: 780px) {
  .product-info-container {
    width: 90%;
    padding: 0px;
  }
  .product-info-main {
    flex-direction: column;
  }

  .swiper-block,
  .info-block {
    width: 100%;
  }

  .swiper-block {
    order: 2;
  }

  .info-block {
    order: 1;
  }

  .info-block {
    padding: 30px 10px 10px 5px;
  }

  .cart-button {
    margin-top: 7px;
  }

  .swiper-img1,
  .swiper-img2,
  .swiper-img3,
  .product-info-main,
  .swiper-block,
  .swiper {
    border-radius: 0px;
  }

  .product-detailed-info {
    padding: 30px 30px 70px 20px;
  }

  .about-product-text,
  .beauty-tips-text {
    padding-left: 20px;
  }
}

@media screen and (max-width: 450px) {
  .product-info-container {
    width: 95%;
  }

  .cart-button {
    width: 200px;
  }
}
