@font-face {
  font-family: "LatoRegular";
  src: url("/src/assets/fonts/Lato-Regular.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "LatoRegular", Arial, Helvetica, sans-serif;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//HEADER

.header {
  font-size: 16px;
  color: white;
  z-index: 10;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  position: fixed;
  transition: all 0.15s ease;
}

.overlay {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  background: #00000048;
}

.none {
  display: none !important;
}

.header-background {
  background-color: black;
  height: 70px;
}

.header-container {
  padding: 0px 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 200px;
  height: 50px;
}

.header-nav {
  margin: 0px 10px;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
  }

  a:hover {
    color: #777;
  }

  div {
    text-align: center;
    height: 100%;
    width: 50px;
    border: 1px solid rgba(168, 168, 168, 0.292);
    display: none;
  }
}

.header-profile {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-icons {
  display: flex;
}

.profile {
  margin-right: 2rem;
  cursor: pointer;

  .profile-icon {
    position: relative;

    .profile-popup-menu {
      position: absolute;
      top: 3rem;
      left: -50%;
      display: flex;
      flex-direction: column;
      width: 8rem;
      border-radius: 0.2rem;
      color: #000;
      background-color: white;
      transition: 0.1s;

      .popup-menu-point {
        font-size: 1.7rem;
        padding: 0.5rem 0.7rem;
        border-radius: 0.2rem;
        cursor: pointer;

        @media (hover: hover) {
          &:hover {
            background-color: #000;
            color: white;
          }
        }
      }
    }
  }
}

.profile,
.basket {
  width: 35px;
  height: 35px;

  a {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.icon {
  transition: all 0.25s ease;
}

.icon:hover {
  width: 35px;
  height: 35px;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.header-button {
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 50px;
  border: 0;
  background-color: rgba(153, 145, 145, 0.314);
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.header-button:hover {
  letter-spacing: 2px;
  background-color: hsl(270, 2%, 63%);
}

.basket {
  position: relative;
}

.basket span {
  padding: 3px 0px;
  position: absolute;
  right: 0;
  top: 0;
  width: 17px;
  height: 17px;
  font-size: 9px;
  color: white;
  text-align: center;
  border-radius: 50%;
  background-color: black;
}

.burger {
  z-index: 10;
  display: none;
  cursor: pointer;
  flex-direction: column;
  width: 30px;
  height: 30px;
  justify-content: space-around;
  transition: all 0.5s ease;
}

.burger:hover {
  transform: rotate(90deg);
}

.burger-active {
  transform: rotate(90deg);
}

.burger-line {
  width: 100%;
  background-color: white;
  height: 2px;
}

.burger-line-acrive {
  background-color: black;
}

//FOOTER

.footer {
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-container {
  flex-wrap: wrap;
  height: 350px;
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  padding: 70px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #777;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-description {
  width: 200px;
  margin-bottom: 20px;
}

.footer-info-list,
.footer-aboutus-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  li {
    margin-bottom: 15px;
    list-style-type: none;
    cursor: pointer;
  }

  li:hover {
    color: black;
  }

  a {
    text-decoration: none;
    color: #777;
  }

  a:hover {
    color: black;
  }
}

.footer-nav,
.footer-info-list,
.footer-aboutus-list {
  margin-top: 20px;
}

.footer-title {
  font-size: 20px;
  color: black;
  font-weight: bold;
  position: relative;
}

.back-shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1050px) {
  .header-button {
    padding: 15px 20px;
    width: 100%;
    margin-bottom: 20px;
  }

  .header-buttons {
    flex-direction: column;
    width: 100%;
    padding-right: 20px;
  }
  .header-nav {
    transition: all 0.35s ease;
    color: black;
    position: fixed;
    width: 300px;
    min-width: 300px;
    height: 100%;
    background-color: white;
    top: 0;
    left: -300px;
    margin: 0px;
    flex-direction: column;
    justify-content: start;
  }
  .header-list {
    margin-top: 80px;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;

    .header-buttons {
      flex-direction: column;
      width: 100%;
      padding-right: 20px;
    }

    li {
      height: 50px;
      border-bottom: 1px solid rgba(168, 168, 168, 0.292);
      width: 100%;
      align-items: center;
      a {
        color: black;
        padding: 15px 0px;
        height: 100%;
        width: 100%;
      }

      a:hover {
        color: #c7c6c6d3;
      }
    }
  }

  a:hover {
    color: #c7c6c6d3;
  }
  .burger {
    display: flex;
  }

  .header-opened {
    left: 0px;
  }
}

@media screen and (max-width: 650px) {
  .footer-container {
    flex-wrap: nowrap;
    height: auto;
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #777;
  }

  .footer-nav,
  .footer-info-list,
  .footer-aboutus-list {
    margin: 0px;
    visibility: hidden;
    transition: all 0.5s ease;
    height: 0;
    overflow: hidden;
  }

  .footer-active {
    transition: all 0.5s ease;
    margin-top: 20px;
    height: auto;
    visibility: visible;
    top: 0px;
    overflow: auto;
  }

  .footer-title {
    margin-top: 20px;
    cursor: pointer;
  }

  .footer-title:hover .footer-title::after {
    background-color: aqua;
  }

  .footer-title::after {
    background-color: #f1f1f1;
    position: absolute;
    top: calc(50% - 12px);
    inset-inline-end: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: rgb(88, 85, 85);
    font-weight: 400;
    font-size: 10px;
    transition: all 0.25s ease;
    content: "\2228";
  }

  .active-but::after {
    background-color: #a19e9e;
    transform: rotate(180deg);
  }
}

.hideElement {
  opacity: 0 !important;
  pointer-events: none !important;
}
